@{
    Layout = null;
}

<!-- Footer -->
<footer class="py-3 bg-exc-black">
    <div class="container">
        <p class="m-0 text-center exc-text-color1">Copyright &copy; EmbeddedXControl @DateTime.Now.ToString("yyyy")</p>
    </div>
    <!-- /.container -->
</footer>
