@{
    Layout = null;
}

<div class="container mt-3">
    <!--Spacing container between navigation bar and image-->
</div>

<img class="img-fluid rounded-top" src="~/Images/logo.png" />


<div class="container mt-3">
    <!--Spacing container between image and cards-->
</div>

