@{
    Layout = null;
}

<div class="col-sm-12">
    <div class="col-sm-12" style="background-color:#09202e; color:#00c1dd; height:20px; width:100%;">
        <ul class="list-inline menu" style="display:table; width:100%; table-layout:fixed;">
            <li style="display:table-cell; text-align:center;">@Html.ActionLink("Create New Project", "Create", "Projects")</li>
        </ul>
    </div>
</div>