body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.bg-body {
    background-color: #0a0c18; /*Darker blue*/
}

.exc-grey-font {
    color: #656565;
}

    .exc-grey-font a {
        color: #323232;
    }

.bg-exc1 {
    background-color: #09202e; /*Lighter blue*/
}

.bg-exc2 {
    background-color: #0a0c18;
}

.exc-card-header {
    background-color: #00c1dd; /*light blue*/
}

.bg-exc-black {
    background-color: #000000;
}

.exc-card-border {
    border-color: #00c1dd; /*light blue*/
}

.exc-text-color1 {
    color: #00c1dd;
}

.navbar-nav a.exc-text-color1:hover {
    color: #ff6e25; /*orange*/
}

.navbar-nav a.exc-text-color1:active {
    color: #ff6e25;
}

.btn {
    border: 0 none;
}


.btn-primary {
    background: #ff6e25;
    border-radius: 0;
}

.btn-secondary {
    background: #ff6e25;
    border-radius: 0;
}
