@{
    ViewBag.Title1 = "COMMENT FEED";
    ViewBag.Title2 = "PROJECT UPDATES";
}


<div class="col-sm-6">
        <div class="col-sm-12" style="background-color:white; height:100%; padding-bottom:20px;">
        <h2 style="padding-top:12px;">@ViewBag.Title1</h2>
        <hr style="border-color:gray; margin-top:0px;" />
        <p>
            Use this area to provide additional information.
        </p>
        </div>
</div>
<div class="col-sm-6">
        <div class="col-sm-12" style="background-color:white; height:100%; padding-bottom:20px;">
        <h2 style="padding-top:12px;">@ViewBag.Title2</h2>
        <hr style="border-color:gray; margin-top:0px;" />
        <p>
            Use this area to provide additional information.
            Use this area to provide additional information.
            Use this area to provide additional information.
            Use this area to provide additional information.
            Use this area to provide additional information.
            Use this area to provide additional information.
            Use this area to provide additional information.
        </p>
        <p>Use this area to provide additional information.</p>
        <p>Use this area to provide additional information.</p>
        <p>Use this area to provide additional information.</p>
    </div>
</div>

